<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="200" border="1">
  <tr>
    <td><a href="/view_update_teacher_profile">View and update profile</a></td>
  </tr>
    <tr>
    <td><a href="/add_group">add group</a></td>
  </tr>
  <tr>
    <td><a href="#">Manage group</a></td>
  </tr>

  <tr>
    <td><a href="#">Manage group members</a></td>
  </tr>
  <tr>
    <td><a href="#">Create event</a></td>
  </tr>
  <tr>
    <td><a href="#">View event status</a></td>
  </tr>
  <tr>
    <td><a href="#">View notifications</a></td>
  </tr>
  <tr>
    <td><a href="#">share ideas</a></td>
  </tr>
  <tr>
    <td><a href="#">Share articles</a></td>
  </tr>
  <tr>
    <td><a href="#">View and rating</a></td>
  </tr>
  <tr>
    <td><a href="#">Chat with students</a></td>
  </tr>
</table>
</form>
</body>
</html>
