




































<!doctype html>
<html lang="en">
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/teacher_approve/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">VIEW GROUP MEMBERS</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">

					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					       <th scope="col">#</th>
                          <th scope="col">student_name</th>

                          <th scope="col">&nbsp;</th>

                        </tr>

					    </thead>
					    <tbody>
					      {% for i in data %}
                    <tr>
                      <td>{{ loop.index }}</td>
                        <td>&nbsp;{{ i.student_name }}</td>
                        <td>
                            <a href="/delete_group_member/{{ i.group_member_id }}" onclick="return confirm('Are you sure to remove {{ i.student_name }}?')">delete</a> <br /></td>
                  </tr>
                        {% endfor %}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/teacher_approve/js/jquery.min.js"></script>
  <script src="/static/teacher_approve/js/popper.js"></script>
  <script src="/static/teacher_approve/js/bootstrap.min.js"></script>
  <script src="/static/teacher_approve/js/main.js"></script>

	</body>
</html>



{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form action="" method="get">#}
{#  <table width="200" border="1">#}
{#    <caption>#}
{#      view group members#}
{#    </caption>#}
{#    <tr>#}
{#      <th scope="col">#</th>#}
{#      <th scope="col">student_name</th>#}
{#   #}
{#      <th scope="col">&nbsp;</th>#}
{#      #}
{#    </tr>#}
{#    {% for i in data %}#}
{#    <tr>#}
{#      <td>{{ loop.index }}</td>#}
{#        <td>&nbsp;{{ i.student_name }}</td>#}
{#        <td>#}
{#            <a href="/delete_group_member/{{ i.group_member_id }}">delete</a> <br /></td>#}
{#    </tr>#}
{#      {% endfor %}#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}





















{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form action=" " method="post" enctype="multipart/form-data"><table width="385" border="1">#}
{#  <tr>#}
{#    <th width="119" scope="row">teacher_name</th>#}
{#    <td width="254"><label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">place</th>#}
{#    <td><label for="textfield2"></label>#}
{#      <input type="text" name="textfield2" id="textfield2" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">post</th>#}
{#    <td><label for="textfield3"></label>#}
{#      <input type="text" name="textfield3" id="textfield3" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">pin</th>#}
{#    <td><label for="textfield4"></label>#}
{#      <input type="text" name="textfield4" id="textfield4" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">photo</th>#}
{#    <td><label for="fileField"></label>#}
{#      <input type="file" name="fileField" id="fileField" /></td>#}
{#  </tr>#}
{#   <tr>#}
{#    <th scope="row">gender</th>#}
{#    <td><label for="select"></label>#}
{#      <select name="select" id="select">#}
{#        <option>Gendar</option>#}
{#        <option>Male</option>#}
{#        <option>Female</option>#}
{#        <option>Others</option>#}
{#      </select></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">qualification</th>#}
{#    <td><label for="textfield7"></label>#}
{#      <input type="text" name="textfield7" id="textfield7" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">phoneno</th>#}
{#    <td><label for="textfield8"></label>#}
{#      <input type="text" name="textfield8" id="textfield8" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">email</th>#}
{#    <td><label for="textfield9"></label>#}
{#      <input type="text" name="textfield9" id="textfield9" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">password</th>#}
{#    <td><label for="textfield10"></label>#}
{#      <input type="text" name="textfield10" id="textfield10" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">confirm password</th>#}
{#    <td><label for="textfield11"></label>#}
{#      <input type="text" name="textfield11" id="textfield11" /></td>#}
{#  </tr>#}
{#  #}
{#  <tr>#}
{#    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Signup" /></th>#}
{#    </tr>#}
{#    #}
{#</table>#}
{##}
{#</form>#}
{#</body>#}
{#</html>#}
