<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table width="258" border="1">
    <tr>
      <th width="209" scope="col"><a href="/view_registered_teachers">View registered teachers and approve</a></th>
    </tr>
    <tr>
      <td><a href="/view_approved_teachers">View approved teachers</a></td>
    </tr>
    <tr>
      <td><a href="/view_blocked_teachers">View blocked teachers</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="#">Block teachers</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/sent_notifications">Send notifications</a></td>
    </tr>
    <tr>
      <td><a href="/view_feedback">View feedback</a></td>
    </tr>
    <tr>
      <td><a href="/view_events_approval">View events and approval</a></td>
    </tr>
  </table>
</form>
</body>
</html>
