<!doctype html>
<html lang="en">
  <head>
  	<title>Add group</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/teacher_approve/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">ADD GROUP MEMBERS</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">

					<div class="table-wrap">
                        <form action="" method="post">
						<table class="table">
					    <thead class="thead-primary">
                          <tr>
                            <th scope="row">Group name</th>
                            <td><label for="textfield"></label>
                              <input type="text" name="textfield" id="textfield" required/></td>
                          </tr>
                          <tr>
                            <th colspan="2" scope="row"><input type="submit" name="ADD" id="ADD" value="ADD" /></th>
                            </tr>

                            </table>
                        </form>
                        </thead>
                        </table>
                         </form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/teacher_approve/js/jquery.min.js"></script>
  <script src="static/teacher_approve/js/popper.js"></script>
  <script src="static/teacher_approve/js/bootstrap.min.js"></script>
  <script src="static/teacher_approve/js/main.js"></script>

	</body>
</html>





{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body><form action="" method="post"><table width="200" border="1">#}
{#  <tr>#}
{#    <th scope="row">group name</th>#}
{#    <td><label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" required/></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th colspan="2" scope="row"><input type="submit" name="ADD" id="ADD" value="ADD" /></th>#}
{#    </tr>#}
{#</table>#}
{##}
{#</form>#}
{#</body>#}
{#</html>#}
